@{
    ViewData["Title"] = "Home Page";
}

<div class="container py-5">
    <div class="text-center">
        <h1 class="display-3 fw-bold text-primary mb-4">Bem-vindo!</h1>
        <p class="lead text-secondary">
            Descubra como <strong>construir aplicações Web com ASP.NET Core</strong>.
        </p>

    </div>
</div>
